* {
    font-family: Inter, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
  }
  body {
    /* border: 2px solid yellow; */
    background-color: rgb(15,20,18);
    height: auto;
    color: white;
  }
  
  .hero {
    display: grid;
    grid-template-columns: 10% 90%;
    height: 90%;
  }
  
  .left-section {
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: 30% 70%;
    text-align: center;
    font-style: italic;
  }
  
  .logo-section {
    background-color: black;
    /* border: 3px solid yellow; */
    position: relative;
    text-align: center;
    padding: 4px 50%;
    padding: 10px auto;
    max-width: 100%;
    margin-right: 15px;
    height: 150px;
  }
  
  .logo-section h1 {
    position: absolute;
    color: red;
    font-weight: 800;
    font-size: 70px;
    top: -20px;
    margin: 20px auto;
    transform: translate(-50%, 0);
  }
  
  .logo-section h5 {
    position: absolute;
    bottom: 50px;
    transform: translate(-50%, 0);
    font-size: 22px;
  }
  
  .logo-section p {
    position: absolute;
    bottom: 10px;
    transform: translate(-50%, 0);
    font-size: 15px;
    font-weight: 600;
    margin: 25px 0 0 0;
  }
  
  .left-nav-section {
    /* border: 3px solid purple; */
  
    padding: 40px 0;
    font-weight: 800;
    gap: 3px; ;
    background-color:0F1412;
  }
  
  /* Change the color of links on hover */
  .left-nav-section a:hover {
    background-color: rgb(26, 17, 17);
    color: red;
    text-decoration: none;
    gap:4px;
  }
  
  /* Add a color to the active/current link */
  .left-nav-section a.active {
    background-color: black;
    color: red;
    text-decoration: none;
    gap:4px
  }
  
  .nav-list {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 40px;
  }
  
  li {
    cursor: pointer;
  }
  
  .nav-list .link-5 {
    color: rgb(48,167,138);
  }
  
  
/* REUSABLES */

button {
    padding: 5px 18px;
    max-height: 35px;
    align-items: center;
    text-align: center;
  }
  
  .primary:hover {
    box-sizing: border-box;
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .secondary:hover {
    box-sizing: border-box;
    transform: scale(1.05);
    cursor: pointer;
  }

  .primary {
    background-color: black;
    color: white;
    padding: 10 px;
    border-radius: 10px;
    padding: 5px auto;
    max-height: 100%;
  }
  
  .secondary {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px auto;
    max-height: 100%;
  }

  /* <----- NAVIGATION BAR ------> */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 30px 80px;
    background-color: rgb(231, 233, 235);
  
    /* border: 2px solid red; */
  }
  
  .logo img {
    height: 15px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 80px;
    justify-content: space-between;
  
    max-width: 60%;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  
  .nav-link-container:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  
 
.calc__container {
    display: grid;
    flex-direction: column;
    box-shadow: 7px 7px 8px aquamarine, -7px -7px 8px aqua;
    border-radius: 1rem;
    left :900px;
     width: 340px;
    row-gap: 1rem;
     padding: 30px;
     gap: 40px;
     height: 560px;
     justify-content: center;
 
  }
  
  
  .calc__display {
    height: 70px;
    border-radius: 0.5rem;
    left:900px;
    
  }
  
  .calc__input {
    background-color: whitesmoke;
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 3rem;
    text-align: right;
    caret-color: #ffbe0c;
  }
  
  /* ==================== CALCULATOR KEYBOARD ============================ */
  .calc__keyboard {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 0.75rem;
  }
  
  .calc__btn {
    height: 3.9rem;
    width: 3.9rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background: #f8fafb;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .calc__btn:hover {
    background-color: #fff;
  }
  
  .black {
    background: rgb(0, 0, 0);
    color: #fff;
  }
  
  .black:hover {
    background: rgba(0, 0, 0, 0.678);
  }
 